/*
  Custom styles here
 */
.cards {
  display:flex;
  flex-wrap: wrap;
}
 .portalContainer{
   max-width: 1000px;
    margin: 0 auto;
 }
 .rightSideCards{
   width: 70%;
 }
 .leftCard{
   width: 25%;
   flex-grow: 1;
   margin-right: 10px;
 }
 .rightCard{
   flex-grow: 2;
   margin-bottom: 10px;
 }
 .headerCard{
   width: 100%;
 }
.leftCardHeader div{
  width: 100%
}
.mainHeader * {
  padding-right: 0px !important;
}
 @media screen and (max-width:960px) {
   .cards {
     flex-wrap:wrap;
   }

   .card {
     width:100%;
     margin-right: 0;
     margin-bottom: 10px;
   }
   .rightSideCards{
     width: 100%;
   }  
 }