/*
  Custom styles here
 */
#root{
  background-color: #FAFAFA;
  height: 100vh;
}
.appLogo{
  width: 150px;
  margin-top: 10px;
}
.cards {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between
}
 .portalContainer{
   max-width: 1000px;
    margin: 10px auto;
 }
 .rightSideCards{
   width: 70%;
 }

 .rightCard{
   flex-grow: 2;
   margin-bottom: 10px;
 }
 .headerCard{
   width: 100%;
 }
 .leftSide{
 width:28%;
 }
 .leftSide img{
   max-height: 300px;
 }
.leftCardHeader div{
  width: 100%;
  text-align: left;
}
.mainHeader * {
  padding-right: 0px !important;
  text-align: center;
}
.link{
  text-decoration: none;  
}
.updateEventTitle{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
/*----- HOME PAGE ----*/
h1{
  text-align: center;
}
.categoryCard{
  max-width: 30%;
  margin: 10px;
}
.categoryCard img{
  max-height: 200px;
  min-height: 200px;
}
/*-------------------*/
.tabs div:nth-child(2){
  width: 0px !important;
  /* border:1px solid orange; */
}




 @media screen and (max-width:960px) {
   .cards {
     flex-wrap:wrap;
   }

   .card {
     width:100%;
     margin-right: 0;
     margin-bottom: 10px;
   }
   .rightSideCards{
     width: 100%;
   }  
   .portalContainer{
     max-width: 80%;
   }
   .leftSide{
     width: 100%;
     text-align:center;
   }
   .leftSide img, .categoryCard img{
     max-width: 300px !important;
     max-height: 300px !important;
     width: auto !important;
     height:auto !important;
   }
   .categoryCard{
     max-width:100%;
   }
 }